<%- include("../partials/header.ejs") %>
<div class="container d-flex justify-content-center ">
  <div class="card justify-content-center d-flex align-items-center">
    <form action="/cohorts/<%- post.id %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <%- include("../partials/formInput.ejs") %>
      <div class="submit">
        <button type="submit" class="btn btn-outline-primary" value="Edit Post">Submit</button>
      </div>
    </form>
  
  </div>

</div>

  <%- include("../partials/footer.ejs") %>